<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Espaço {{ nome_usuario }}</title>
    <meta name="description" content="Area do cliente">
    <meta name="keywords" content="cliente, usuario">
    <meta name="author" content="andrew Mauricio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>



      <h1>Minha página de perfil se chama {{ nome_usuario }}</h1>
      <p>este é um exemplo de página dinamica onde podemos ter infinitas paginas com infinitos perfis usando o flas</p>
      <img src="imagem.jpg" alt="Descrição da Imagem">
     </header>
    <footer>
      <p>Direitos Reservados &copy; 2024</p>
    </footer>
  </body>
</html>